.footer {
    background-color:#0E1021;
    padding: 120px 125px 0px 125px;
    
    .footer-links {
        display: block;
        font-family: 'Inter', sans-serif;
        text-decoration: none;
        margin-bottom: 15px;
        color: white;
    }

    .footer-text {
        width: 350px;
        font-family: 'Inter', sans-serif;
    }
    
    .footer-big {
        font-family: 'DM Sans', sans-serif;
        margin-bottom: 35px;
        font-weight: 800;
    }

    .logotype {
        margin-bottom: 30px;
    }

    .footer-icons {
        text-align: right;
        gap: 40px;

        .footer-icon {
            margin-left: 20px;
        }
    }

    .footer-line {
        margin-top: 85px;
    }

}


